::selection {
  background-color: #0000002e;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: currentColor;
}
a {
  color: #be7e1e;
}
a:hover {
  color: #2f4050;
}
/* menu */
.ant-menu-dark.ant-menu-inline {
  background-color: #2f4050 !important;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #2f4050 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #2f4050 !important;
}
/* Outros */
.login-bg {
  width: 103%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#page-wrapper {
  padding: 0 15px 0 25px;
}
.panel-body {
  padding-bottom: 25px;
}
.selectAgendamento {
  background-color: #f3f8ff;
  margin: 2% 0;
  padding: 2%;
  border-radius: 15px;
}
.selectAgendamento:hover {
  background-color: #dceaff;
}
/* form validation */
.is-invalid {
  color: #ee1818;
}
.is-invalid input {
  border-color: #ee1818 !important;
}
.is-invalid .ant-select-selection {
  border-color: #ee1818 !important;
}
.is-invalid .anticon {
  color: #ee1818 !important;
}
.is-invalid .ant-input-number {
  border-color: #ee1818 !important;
}
.hr-menu {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 60%;
  border-top: 2px solid #ffbf3c;
}
/* Timeline */
.ant-timeline-item {
  font-size: 15px !important;
}
.ant-timeline-item-head-blue {
  color: #ffbf3c !important;
  border-color: #ffbf3c !important;
}
.ant-timeline-item-head {
  width: 15px !important;
  height: 15px !important;
  border-width: 3px !important;
}
.ant-timeline {
  line-height: 2 !important;
  padding: 0 30px 0 0 !important;
}
.ant-timeline-item-tail {
  left: 6px !important;
  border-left: 3px solid #e8e8e8 !important;
}
/* Tables */
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background-color: #e8e8e8 !important;
}
.heading-title {
  font-family: helvetica, arial, sans-serif;
}
.ant-table-placeholder {
  border-radius: 0 0 10px 10px !important;
}
.ant-empty-description {
  font-size: 15px;
  letter-spacing: 2px;
}
.ant-table-thead > tr > th {
  font-size: 14px;
  font-weight: 600 !important;
}
.ant-tag-green {
  color: #fff !important;
  background: #4cd964bd !important;
  border: none !important;
  border-radius: 10px !important;
}
.ant-tag-red {
  color: #fff !important;
  background: #ff5b5bbd !important;
  border: none !important;
  border-radius: 10px !important;
}
.iBrzIa {
  padding: 0 !important;
}
.crQcSp {
  padding: 0 !important;
}
/* Pagination */
.ant-table-pagination.ant-pagination {
  margin: 16px 3% !important;
}
.anticon {
  vertical-align: 0.2em !important;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border: none !important;
}
.ant-pagination-item {
  border-radius: 50% !important;
}
.ant-pagination-item:hover {
  border-color: #f9bf3cbf !important;
  color: #f9bf3cbf !important;
}
.ant-pagination-item:active,
.ant-pagination-item:focus {
  color: #fff !important;
}
.ant-pagination-item-active {
  background-color: #f9bf3c !important;
  border-color: #f9bf3c !important;
  color: #fff !important;
}
.ant-pagination-item-active:hover {
  background-color: #f9bf3cbf !important;
  border-color: #f9bf3cbf !important;
  color: #fff !important;
}
/* Input */
.ant-input {
  font-size: 14px;
  border: 1px solid #e6eaf9 !important;
  border-radius: 10px !important;
  color: #777 !important;
}
.ant-input[disabled] {
  background-color: #eee !important;
  border-color: #eee !important;
}
.ant-input-number-disabled {
  background-color: #eee !important;
  border-color: #eee !important;
  border-radius: 10px !important;
}
.form-control,
.single-line {
  font-size: 14px;
  border: 1px solid #e6eaf9 !important;
  border-radius: 10px !important;
  color: #777 !important;
  height: 38px !important;
}
.ant-time-picker-input {
  font-size: 14px;
  border: 1px solid #e6eaf9 !important;
  border-radius: 10px !important;
  color: #777 !important;
}
.ant-input-affix-wrapper {
  font-size: 18px !important;
}
.ant-input-affix-wrapper .ant-input-suffix {
  right: 15px !important;
}
.ant-select-selection__clear {
  color: #ee181850 !important;
}
.ant-select-selection__clear:hover {
  color: #ee1818 !important;
}
.ant-input-number {
  font-size: 14px;
  border: 1px solid #e6eaf9 !important;
  border-radius: 10px !important;
  color: #777 !important;
  box-shadow: none !important;
}
.ant-input-number-handler-wrap {
  border-radius: 0 10px 10px 0 !important;
}
.ant-input-number-handler-up {
  border-radius: 0 10px 0 0 !important;
}
.ant-input-number-handler-down {
  border-radius: 0 0 10px 0 !important;
}
.ant-input-number-handler-up-disabled,
.ant-input-number-handler-up-disabled:active,
.ant-input-number-handler-down-disabled,
.ant-input-number-handler-down-disabled:active {
  background-color: #ccc !important;
}

.ant-radio-wrapper {
  font-size: 15px !important;
}
.ant-radio-inner {
  border-color: #c9d3dd !important;
  border-width: 3px !important;
}
.ant-radio-checked .ant-radio-inner {
  border-color: transparent !important;
  box-shadow: none !important;
}
.ant-radio-inner::after {
  font-family: 'FontAwesome' !important;
  content: '\f00c' !important;
  color: #ffbf3c !important;
  background-color: transparent !important;
  top: -5px !important;
  left: -3px !important;
  font-size: 18px !important;
}
/* Select */
.ant-select-selection {
  font-size: 14px;
  border: 1px solid #e6eaf9 !important;
  border-radius: 10px !important;
  color: #777 !important;
}
.ant-select-dropdown {
  box-shadow: 0 5px 20px -10px #ccc;
  border-radius: 10px !important;
}
.ant-select-dropdown-menu-item {
  color: #777 !important;
}
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #ffbf3c80 !important;
}
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #ffbf3c80 !important;
  color: #fff !important;
}
.ant-select-dropdown-menu-item-selected {
  background-color: #ffbf3cbf !important;
  color: #fff !important;
}
.ant-select-dropdown-menu-item-selected::before {
  content: '\f00c';
  font-family: 'FontAwesome';
  margin-right: 10px;
}
.ant-select-dropdown-menu-item:first-child {
  border-radius: 10px 10px 0 0 !important;
}
.ant-select-dropdown-menu-item:last-child {
  border-radius: 0 0 10px 10px !important;
}
/* Calendar */
.ant-calendar-date {
  border-radius: 50% !important;
}
.ant-calendar-selected-day .ant-calendar-date {
  background-color: #fff !important;
}
.ant-calendar-today .ant-calendar-date {
  color: #f9bf3c !important;
  border-color: #f9bf3c !important;
}
.ant-calendar-date:active,
.ant-calendar-date:hover,
.ant-calendar-date:focus {
  background-color: #f9bf3c99 !important;
  color: #fff !important;
}
.ant-calendar-selected-date .ant-calendar-date:hover,
.ant-calendar-selected-start-date .ant-calendar-date:hover,
.ant-calendar-selected-end-date .ant-calendar-date:hover {
  background-color: #f9bf3c !important;
}
.ant-calendar-selected-date .ant-calendar-date,
.ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-date {
  color: #fff !important;
  background-color: #f9bf3c !important;
}
.ant-calendar-year-panel-year,
.ant-calendar-month-panel-month,
.ant-calendar-decade-panel-decade {
  border-radius: 15px !important;
}
.ant-calendar-year-panel-year:hover,
.ant-calendar-month-panel-month:hover,
.ant-calendar-decade-panel-decade:hover {
  color: #fff !important;
  background: #ffbf3c80 !important;
}
.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year,
.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month,
.ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade {
  color: #fff !important;
  background: #ffbf3c !important;
}
.ant-calendar-last-month-cell .ant-calendar-date,
.ant-calendar-next-month-btn-day .ant-calendar-date {
  font-family: 'Roboto' !important;
}
.ant-calendar {
  font-family: 'Roboto' !important;
  border: none !important;
  border-radius: 15px !important;
}
.ant-calendar-column-header .ant-calendar-column-header-inner {
  color: #be7e1e;
  font-family: 'Roboto' !important;
}
.ant-calendar-footer {
  background: #ffbf3c !important;
  color: #fff !important;
  border-radius: 0 0 15px 15px !important;
}
.ant-calendar-picker-clear {
  color: #ee181850 !important;
}
.ant-calendar-picker-clear:hover {
  color: #ee1818bf !important;
}
/* Toggle */
.ant-switch-checked {
  background-color: #4cd964 !important;
}
/* Notifications */
.ant-notification-notice {
  border-radius: 15px !important;
}
/* Notification success */
.ant-notification-notice.notification-success {
  background-color: #4cd964 !important;
}
.notification-success .anticon.ant-notification-notice-icon-success {
  color: #fff !important;
}
.notification-success .ant-notification-notice-message {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #fff !important;
  letter-spacing: 2px;
}
.notification-success .ant-notification-notice-description {
  color: #fff !important;
}
/* Notification info */
.ant-notification-notice.notification-info {
  background-color: #f9f9f9 !important;
}
.notification-info .anticon.ant-notification-notice-icon-success {
  color: #000 !important;
}
.notification-info .ant-notification-notice-message {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #000 !important;
  letter-spacing: 2px;
}
.notification-info .ant-notification-notice-description {
  color: #000 !important;
}
/* Notification error */
.ant-notification-notice.notification-error {
  background-color: #ffbf3c !important;
}
.notification-error .anticon.ant-notification-notice-icon-error {
  color: #fff !important;
}
.notification-error .ant-notification-notice-message {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #fff !important;
  letter-spacing: 2px;
}
.notification-error .ant-notification-notice-description {
  color: #fff !important;
}
.ant-notification-close-icon {
  display: none;
}
.ant-notification-notice-close::before {
  content: '\f00d';
  font-family: 'FontAwesome';
  font-size: 15px;
  color: #3333336b;
  background: #33333326;
  border-radius: 50%;
  padding: 2px 4px;
}
/* Modals */
.ant-modal-title {
  font-family: 'helvetica';
  font-size: 20px !important;
}
.ant-modal-footer {
  border: none !important;
}
.ant-modal-body {
  padding: 24px 24px 0 24px !important;
}
.ant-modal-close-x {
  width: 25px !important;
  height: 25px !important;
  line-height: 30px !important;
  background-color: #ee181899 !important;
  color: #fff !important;
  border-radius: 50% !important;
  margin-top: 30% !important;
  margin-left: -30% !important;
}
.ant-modal-close-x:hover {
  background-color: #ee1818 !important;
}
.ant-modal-content {
  border-radius: 15px !important;
}
.ant-modal-header {
  border-radius: 15px 15px 0 0 !important;
}
.swal-modal {
  border-radius: 15px !important;
}
.swal-icon {
  margin: 15px auto !important;
}
.swal-title {
  color: #000 !important;
  font-size: 18px !important;
}
.swal-text {
  text-align: center !important;
  font-size: 14px !important;
  color: #000 !important;
}
.swal-button {
  color: #fff;
  background-color: #be7e1e;
  border: none !important;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.5s;
}
.swal-button:hover,
.swal-button:focus,
.swal-button.active {
  border-color: #be7e1e;
  background-color: #ffffff !important;
  color: #ffffff;
}
.swal-button--cancel {
  color: #333 !important;
  border: none !important;
  background-color: #77777745 !important;
}
.swal-button--cancel:not([disabled]):hover,
.swal-button--cancel:not([disabled]):focus,
.swal-button--cancel:not([disabled]):active {
  color: #333 !important;
  background-color: #77777770 !important;
  box-shadow: none !important;
}
.swal-icon--warning__body,
.swal-icon--warning__dot {
  background-color: #ffbf3c !important;
}
.swal-icon--warning {
  border-color: #ffbf3c !important;
}
.swal-icon--success__line {
  background-color: #4cd964 !important;
}
.swal-icon--success__ring {
  border-color: #4cd964 !important;
}
/* Tooltip */
.ant-tooltip {
  z-index: 2060 !important;
}
.ant-tooltip-inner {
  border-radius: 10px !important;
  font-weight: 600 !important;
  background-color: #fff !important;
  color: #000 !important;
}
.ant-tooltip-arrow {
  border-top-color: #fff !important;
}
/* Tabs */
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  margin: 0 !important;
  border: none !important;
  background-color: #e8e8e8 !important;
  border-radius: 0 !important;
  transition: all 0.2s ease-in-out;
  color: #777 !important;
  font-weight: 600;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:last-child {
  border-radius: 0 10px 0 0 !important;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  height: 45px !important;
  color: #000 !important;
  background-color: #fff !important;
  transform: translateY(-5px);
  border-radius: 10px 10px 0 0 !important;
}
/* Upload */
.ant-btn {
  font-weight: 500;
  border-radius: 10px;
  font-size: 15px;
  height: 40px;
  color: #ffffff;
  letter-spacing: 2px;
  background-color: #be7e1e;
  border-color: #be7e1e;
  transition: all 0.5s;
}
.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  color: #fff;
  border-color: #2f4050;
  background-color: #2f4050;
  box-shadow: 0 10px 33px -14px #2f4050;
}

.outlined {
  background-color: #ffffff;
  border-color: #be7e1e;
  color: #be7e1e;
}
.outlined:hover,
.outlined:focus,
.outlined:active {
  color: #ffffff;
  border-color: #2f4050;
  background-color: #2f4050;
  box-shadow: 0 10px 33px -14px #2f4050;
}

.ant-btn-primary {
  text-shadow: none !important;
}
/* Transfer */
.ant-transfer-list {
  border-radius: 15px !important;
  border: 1px solid #e6eaf9 !important;
}
.ant-transfer-list-header {
  font-size: 15px !important;
  color: #fff !important;
  background: #d51668 !important;
  border-radius: 15px 15px 0 0 !important;
}
